{% extends "base.html" %}

{% block content %}
  <script>
    const rnd = Math.floor(Math.random() * 90000000) + 10000000;
    const script = document.createElement('script');
    script.src = "/static/scroll.js?rnd=" + rnd;
    document.head.appendChild(script);
  </script>
  <br>
  <div id="feed">
    <div class="post">
      <h2>
        RekjRC Feed
        {% if request.user.is_authenticated %}
          <br><input type="button" value="New Post" onclick="self.location.href='/posts/create/'" style="width:10em;height:2em;font-size:large;">
        {% endif %}
      </h2>
    </div>
    {% include 'posts/post_list.html' %}
  </div>

  <div id="loading" style="display:block;">Loading more posts...</div>

  <div class="post" id="end-message" style="display:none; text-align:center; font-weight:bold;">
    You have run out of posts
  </div>

{% endblock %}
