{% for post in posts %}
    <div class="post">

        <strong>
            <a href="/profiles/{{ post.profile_id.pk }}/view">
                {{ post.profile_id.displayname }}
            </a>
        </strong>
        - {{ post.profile_id.get_profiletype_display }}
        - {{ post.insertdate|date:"m/d/y h:iA" }}
        <p>{{ post.content|linebreaksbr }}</p>

        {% if post.image %}
            <a target="_blank" href="{{ post.image.url }}">
                <img src="{{ post.image.url }}" alt="Post image" style="max-width:200px;">
            </a>
        {% endif %}

        {% if post.video_url %}
            <p>
                <a href="{{ post.video_url }}" target="_blank">Watch Video</a>
            </p>
        {% endif %}

        <div class="metrics">
            ❤️ {{ post.likes_count }}
            |
            <a href="/posts/{{ post.id }}/reply" class="text-decoration-none">
                💬 {{ post.replies.count }}
            </a>
            |
            🔁 {{ post.reposts_count }}
        </div>
    </div>
{% endfor %}