{% extends "base.html" %}
{% block content %}

<div class="post card">
  <h3>{{ store.name }}</h3>
  <p>Profile: <a href="{% url 'profiles:detail-profile' store.profile.id %}">{{ store.profile.displayname }}</a></p>
  {% if store.website %}
      <p>Website: <a href="{{ store.website }}" target="_blank">{{ store.website }}</a></p>
  {% endif %}
  <p>
    <a href="{% url 'store:update' store.pk %}">Edit</a> |
    <a href="{% url 'store:delete' store.pk %}">Delete</a> |
    <a href="{% url 'store:list' %}">Back to List</a>
  </p>
</div>

{% endblock %}
