{% extends "base.html" %}
{% block content %}

<div class="post card" style="text-align:center;">
    <h3>{% if form.instance.pk %}Edit Team{% else %}Build Team{% endif %}</h3>
</div>

<!-- Profile summary -->
{% include "profiles/profile_header.html" %}

<div class="post card" style="max-width:800px; margin:0 auto; padding:15px;">
  <form method="post">
    {% csrf_token %}
    <h2>Team Info</h2>
    {{ form.as_p }}

    <button type="submit" style="width:100%; padding:10px; background-color:#1da1f2; color:white; border:none; border-radius:5px; cursor:pointer;">
      Save
    </button>
  </form>
  <br />
</div>
<br /><br /><br />
{% endblock %}
