{% extends "base.html" %}
{% block content %}

<div class="post card">
    <h3>Edit Track</h3>
</div>

<!-- Profile summary section -->
{% include "profiles/profile_header.html" %}

<!-- Track form -->
<div class="post card">
    <h2>
        {% if form.instance.pk %}
            Update Track
        {% else %}
            Create Track
        {% endif %}
    </h2>
    <form method="post">
        {% csrf_token %}

        <!-- Track fields as table -->
        <table>
            {% for field in form %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>

        <button type="submit"
               >
            Save
        </button>
    </form>
</div>

{% endblock %}
