{% extends "base.html" %}
{% block content %}

<div class="post card" style="padding:0px; text-align:center;">
    <h3>Build Track</h3>
</div>

<!-- Profile summary section -->
{% include "profiles/profile_header.html" %}

<!-- Track form -->
<div class="post card" style="max-width: 800px; padding: 15px;">
    <h2 style="text-align:center;">
        {% if form.instance.pk %}Edit Track{% else %}Create Track{% endif %}
    </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Track</button>
    </form>
</div>

{% endblock %}
