{% extends "base.html" %}
{% block content %}

<div class="post card" style="text-align:center; padding: 0px; margin-bottom: 0px;">
    <h3>My Races</h3>
</div>

{% if profiles %}
    {% for profile in profiles %}
        <div class="post card" style="margin-top: 5px; margin-bottom: 0px;">
            <table>
                <tr>
                    <td valign="top" align="center" nowrap>
                        {{ profile.get_profiletype_display }}<br />
                        {% if profile.avatar %}
                            <a target="_blank" href="{{ profile.avatar.url }}">
                                <img src="{{ profile.avatar.url }}" alt="Avatar" class="avatar">
                            </a>
                        {% else %}
                            <img src="/static/nophoto_{{ profile.profiletype }}.png" alt="Avatar" class="avatar">
                        {% endif %}
                        <p>
                            {% if profile.race %}
                                <a href="{% url 'races:race_update' profile.id %}">Update</a> /
                                <a href="{% url 'races:race_detail' profile.id %}">View</a><br />
                                <a href="{% url 'races:race_delete' profile.id %}">Delete</a>
                            {% else %}
                                <a href="{% url 'races:race_build' profile.id %}">Build</a>
                            {% endif %}
                        </p>
                    </td>
                    <td style="width: 15px;"></td>
                    <td valign="top">
                        <b>{{ profile.displayname }}</b>
                        {% if profile.race %}
                            <table>
                                <tr>
                                    <td>Race Type:</td>
                                    <td>{{ profile.race.race_type }}</td>
                                </tr>
                                {% if profile.race.event %}<tr>
                                    <td>Event:</td>
                                    <td>{{ profile.race.event }}</td>
                                </tr>{% endif %}
                                {% if profile.race.location %}<tr>
                                    <td>Location:</td>
                                    <td>{{ profile.race.location }}</td>
                                </tr>{% endif %}
                                {% if profile.race.club %}<tr>
                                    <td>Club:</td>
                                    <td>{{ profile.race.club }}</td>
                                </tr>{% endif %}
                                {% if profile.race.team %}<tr>
                                    <td>Team:</td>
                                    <td>{{ profile.race.team }}</td>
                                </tr>{% endif %}
                                <tr>
                                    <td>Entries:</td>
                                    <td>{{ profile.driver_count }}</td>
                                </tr>
                                <tr>
                                    <td valign="top"><u>Results:</u>&nbsp;&nbsp;&nbsp;</td>
                                    <td>
                                        {% if profile.race.race_type == "Lap Race" %}
                                            <a href="{% url 'races:lapmonitor_upload' profile.race.id %}">Upload LapMonitor</a><br>
                                            <a href="">Upload MyLaps</a><br>
                                        {% elif profile.race.race_type == "Out and Back" %}
                                        {% endif  %}
                                        <a href="{% url 'races:race_drag_race' profile.id profile.race.id %}">Run Race</a><br>
                                    </td>
                                </tr>
                            </table>
                        {% else %}
                            <p style="color:gray; font-size:0.9em;">No race info yet.</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% else %}
    <div class="post card" style="text-align:center; padding: 20px;">
        None found<br /><br />
        <a href="/profiles/">Back to Profiles</a> /
        <a href="/profiles/build/">Create Profile</a>
    </div>
{% endif %}

<br /><br /><br />

{% endblock %}
