{% extends "base.html" %}
{% block content %}

{% include "profiles/profile_header.html" %}

<form method="post" novalidate>
    {% csrf_token %}

    <div class="post card" style="padding:10px;">
        {% include "races/race_form.html" %}
        <button type="submit"
            style="padding:8px 20px; background-color:#1da1f2; color:white; border:none; border-radius:5px; cursor:pointer;">
            Save Race
        </button>
    </div>

    <div class="post card" style="padding:10px;">
        {% if attribute_formset %}
            <center><h3>Race Attributes</h3></center>
            {{ attribute_formset.management_form }}

            <table id="attributes-table" style="width:100%; border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in attribute_formset.forms %}
                        {{ form.id }}
                        <tr>
                            <td style="padding-right:5px;">{{ form.attribute }}</td>
                            <td>{{ form.value }}</td>
                            <td style="text-align:center;">
                                {{ form.DELETE }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit"
                style="padding:8px 20px; background-color:#1da1f2; color:white; border:none; border-radius:5px; cursor:pointer;">
                Save Race
            </button>
        {% endif %}
    </div>
</form>

<div style="text-align:center; margin-top:10px;">
    <a href="{% url 'races:race_detail' profile.id %}">Back To Race Detail</a>
</div>

<br /><br /><br />

{% endblock %}
