nav {
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    border:solid 1px var(--border1);
    background-color: var(--background1);
    border-collapse: collapse;
    margin-bottom: 1px;
}

nav a {
    text-decoration: none;
    color: var(--accent1);
    font-weight: bold;
}

nav a:hover {
    color: var(--font1);
}
