<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RekjRC Online</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/colors-dark.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/blocks.css" />
    <link rel="stylesheet" href="/static/nav.css" />
</head>
<body>
    <div class="container">
            <div class="left-col">
                {% include "panel_left.html" %}
            </div>
        {% if not is_mobile %}
        {% endif %}

        <div class="middle-col">
            {% if is_mobile %}
                {% include "base_nav_mobile.html" %}
            {% else %}
                {% include "base_nav.html" %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>

            <div class="right-col sponsors">
                {% include "panel_right.html" %}
            </div>
        {% if not is_mobile %}
        {% endif %}
    </div>
</body>
</html>
