<!-- base_nav.html -->
<center><h1>RekjRC Online</h1></center>
<nav>
    | <a href="{% url 'homepage' %}">Home</a> |
    {% if request.user.is_authenticated %}
        <a href="/humans/update">Account</a> |
        {% comment %}
            <a href="/profiles/">Profiles</a> |
            <a href="/locations/">Locations</a> |
        {% endcomment %}
        {% if request.user.is_staff %}
            <a href="/admin/" target="_blank">Admin</a> |
        {% endif %}
        {% if user.is_verified %}
            <a href="/builds/">Builds</a> |
            <a href="/drivers/">Drivers</a> |
            <a href="/tracks/">Tracks</a> |
            <a href="/races/">Races</a> |<br>
            | <b>Locations</b> |
            <b>Clubs</b> |
            <b>Events</b> |
            <b>Stores</b> |
            <b>Teams</b> |
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a> |
    {% else %}
        <a href="/humans/login/">Login</a>
    {% endif %}
</nav>
