<center><h3>Visit Our Friends</h3></center>
<div style="padding-right:10px;">
    {% for sponsor in sponsors_list %}
        <p>
            <a href="{{ sponsor.website }}" onclick="recordSponsorClick('{{ sponsor.id }}', '{{ sponsor.website }}'); return false;">
                <img src="{{ sponsor.image.url }}" alt="{{ sponsor.name }}" style="max-width: 100%; border-radius: 8px;">
            </a>
        </p>
    {% empty %}
        <p style="text-align:center;">No sponsors yet</p>
    {% endfor %}
</div>