{% extends "base.html" %}
{% block content %}

<div class="page_header">Support</div>


<div class="post card">
  <p>If you're having trouble, check the FAQ below or contact us at</p>
  <p><a href="mailto:rekjrc@gmail.com">rekjrc@gmail.com</a> (<a href="javascript:navigator.clipboard.writeText('rekjrc@gmail.com')">copy</a>)</p>
  <p>Frequently Asked Questions</p>
  <ul>
    <li>How do I reset my password?</li>
    <li>How do I change my car profile?</li>
    <li>Where can I find race results?</li>
  </ul>
</div>
{% endblock %}
