{% extends "base.html" %}
{% block content %}

<div class="post card">
    <center>
        <h2>
            Your Profiles
            <font size="-1">(<a href="/profiles/build/">new</a>)</font>
        </h2>
    </center>
    <table cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td align="center">
                Jump to:&nbsp;&nbsp;
            </td>
            <td align="center">
                <select onchange="self.location.href=this.value">
                    <option>---------</option>
                    <option value="/builds/">My Builds</option>
                    <option value="/clubs/">My Clubs</option>
                    <option value="/events/">My Events</option>
                    <option value="/locations/">My Locations &nbsp;&nbsp;&nbsp;</option>
                    <option value="/races/">My Races</option>
                    <option value="/stores/">My Stores</option>
                    <option value="/teams/">My Teams</option>
                    <option value="/tracks/">My Tracks</option>
                </select>
            </td>
        </tr>
    </table>
</div>

{% for profile in profiles %}
    <div class="post card">
        <table>
            <tr>
                <td valign="top" align="center" nowrap>
                    {% if profile.avatar %}
                        <a target="_blank" href="{{ profile.avatar.url }}">
                            <img src="{{ profile.avatar.url }}" alt="Avatar" class="avatar">
                        </a>
                    {% else %}
                        <img src="/static/nophoto_{{ profile.profiletype }}.png" alt="Avatar" class="avatar">
                    {% endif %}
                    <p>{{ profile.get_profiletype_display }}
                    <br><a href="{% url 'profiles:update-profile' profile.pk %}">Edit</a> /
                    <a href="{% url 'profiles:detail-profile' profile.pk %}">View</a><br>

                    {% if profile.profiletype == "MODEL" %}
                        <a href="/builds/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "CLUB" %}
                        <a href="/clubs/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "LOCATION" %}
                        <a href="/locations/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "EVENT" %}
                        <a href="/events/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "RACE" %}
                        <a href="/races/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "STORE" %}
                        <a href="/stores/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "TEAM" %}
                        <a href="/teams/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "TRACK" %}
                        <a href="/tracks/{{ profile.id }}/build">Build</a>
                    {% endif %}
                </td>
                <td>&nbsp;&nbsp;</td>
                <td valign="top">
                    <b>{{ profile.displayname }}</b>
                    {% if profile.bio %}<p>{{ profile.bio|linebreaksbr }}</p>{% endif %}
                </td>
            </tr>
        </table>
    </div>
{% empty %}
    <p>You haven’t added any profiles yet.</p>
{% endfor %}

{% endblock %}
