{% extends "base.html" %}

{% block content %}
<center><h2>Your Profiles</h2></center>
{% for profile in profiles %}
    <div class="post card">
        <table>
            <tr>
                <td valign="top" align="center" nowrap>
                    {% if profile.avatar %}
                        <a target="_blank" href="{{ profile.avatar.url }}">
                            <img src="{{ profile.avatar.url }}" alt="Avatar" class="avatar">
                        </a>
                    {% else %}
                        <img src="/static/nophoto_{{ profile.profiletype }}.png" alt="Avatar" class="avatar">
                    {% endif %}
                    <p>{{ profile.get_profiletype_display }}
                    <br><a href="{% url 'profiles:update-profile' profile.pk %}">Edit</a> /
                    <a href="{% url 'profiles:detail-profile' profile.pk %}">View</a><br>

                    {% if profile.profiletype == "MODEL" %}
                        <a href="/builds/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "CLUB" %}
                        <a href="/clubs/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "LOCATION" %}
                        <a href="/locations/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "EVENT" %}
                        <a href="/events/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "RACE" %}
                        <a href="/races/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "STORE" %}
                        <a href="/stores/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "TEAM" %}
                        <a href="/teams/{{ profile.id }}/build">Build</a>
                    {% elif profile.profiletype == "TRACK" %}
                        <a href="/tracks/{{ profile.id }}/build">Build</a>
                    {% endif %}
                </td>
                <td>&nbsp;&nbsp;</td>
                <td valign="top">
                    <b>{{ profile.displayname }}</b>
                    {% if profile.bio %}<p>{{ profile.bio|linebreaksbr }}</p>{% endif %}
                </td>
            </tr>
        </table>
    </div>
{% empty %}
    <p>You haven’t added any profiles yet.</p>
{% endfor %}

<div class="post card" style="margin-top:20px;">
    <h3>Create New Profile</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Profile</button>
    </form>
</div>
{% endblock %}
