{% extends "base.html" %}
{% block content %}

<div class="post card" style="padding:0px; text-align:center;">
    <h3>Build Location</h3>
</div>

<!-- Profile summary section -->
{% include "profiles/profile_header.html" %}

<!-- Location form section -->
<div class="post card" style="padding: 10px; max-width: 800px; margin-left:auto; margin-right:auto;">
  <form method="post" style="text-align: left;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="width: 100%; padding: 10px; background-color:#1da1f2; color:white; border:none; border-radius:5px; cursor:pointer;">
        Save
    </button>
  </form>
  <br />
</div>
<br />
<br />

{% endblock %}